<div class="container">
  <mat-tab-group>
    <mat-tab label="Основная информация">
      <br>
      <br>
      <form [formGroup]='form' class="employee" (submit)="save()">

        <mat-form-field>
          <input matInput type="string" placeholder="Фамилия" formControlName="surname">
          <mat-error *ngFor="let validation of employee_validation_messages.surname">
            <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) && (form.get('surname').dirty || form.get('surname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="string" placeholder="Имя" formControlName="firstName">
          <mat-error *ngFor="let validation of employee_validation_messages.firstName">
            <mat-error class="error-message" *ngIf="form.get('firstName').hasError(validation.type) && (form.get('firstName').dirty || form.get('firstName').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="string" placeholder="Отчество" formControlName="patronymic">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="Департамент" formControlName="departmentId">
            <mat-option *ngFor="let department of departmentOptions" [value]="department.departmentId">
              {{department.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="string" placeholder="Email" formControlName="email">
          <mat-error *ngFor="let validation of employee_validation_messages.email">
            <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <div class="sex-radio-label">пол:</div>
        <mat-radio-group class="sex-radio-group" formControlName="sex">
          <mat-radio-button class="sex-radio-button" *ngFor="let sex of sexList" [value]="sex.value">
            {{sex.viewValue}}
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Дата рождения" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox formControlName="isActual">Учетная запись активна</mat-checkbox>

        <br>
        <br>
        <section class="actions-buttons">
          <button class="mat-raised-button" (click)="goBack()">
            Назад
          </button>

          <button class="mat-raised-button mat-primary" (click)="save()">
            Сохранить
          </button>
        </section>
      </form>
    </mat-tab>
    <mat-tab label="История изменений подразделений"> {{form.value | json}} </mat-tab>
  </mat-tab-group>
</div>