<div class="container">
  <mat-tab-group>
    <mat-tab label="Основная информация">
      <br>
      <br>
      <form [formGroup]='form' class="employee">

        <mat-form-field>
          <input matInput type="string" placeholder="Фамилия" formControlName="surname">
          <mat-error *ngFor="let validation of employee_validation_messages.surname">
            <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) && (form.get('surname').dirty || form.get('surname').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="string" placeholder="Имя" formControlName="firstName">
          <mat-error *ngFor="let validation of employee_validation_messages.firstName">
            <mat-error class="error-message" *ngIf="form.get('firstName').hasError(validation.type) && (form.get('firstName').dirty || form.get('firstName').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="string" placeholder="Отчество" formControlName="patronymic">
        </mat-form-field>

        <mat-form-field *ngIf="isNewEmployeeMode">
          <mat-select placeholder="Организация" (selectionChange)="onOrganizationChange($event.value)">
            <mat-option *ngFor="let organization of organizations" [value]="organization.organizationId">
              {{organization.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="!isNewEmployeeMode || organizationId > 0">
          <mat-select placeholder="Департамент" formControlName="departmentId">
            <mat-option *ngFor="let department of departmentOptions" [value]="department.departmentId">
              {{department.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="string" placeholder="Email" formControlName="email">
          <mat-error *ngFor="let validation of employee_validation_messages.email">
            <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">{{validation.message}}</mat-error>
          </mat-error>
        </mat-form-field>

        <div class="sex-radio-label">пол:</div>
        <mat-radio-group class="sex-radio-group" formControlName="sex">
          <mat-radio-button class="sex-radio-button" *ngFor="let sex of sexList" [value]="sex.value">
            {{sex.viewValue}}
          </mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Дата рождения" formControlName="birthDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-checkbox formControlName="isActual">Учетная запись активна</mat-checkbox>

        <br>
        <br>
        <section class="actions-buttons">
          <button class="mat-raised-button" (click)="goBack()">
            Назад
          </button>

          <button class="mat-raised-button mat-primary" (click)="save()">
            Сохранить
          </button>
        </section>
      </form>
    </mat-tab>
    <mat-tab label="История изменений подразделений" *ngIf="(!isNewEmployeeMode || organizationId > 0) && departmentsChangeHistory.length > 0">
      <mat-list>
          <h3 mat-subheader>Изменения департамента сотрудика:</h3>
          <mat-list-item *ngFor="let history of departmentsChangeHistory">
            <h4 mat-line>{{history.currentDepartment.name}}  -->  {{history.newDepartment.name}}</h4>
            <p mat-line> {{history.changeDate | date}} </p>
          </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>